
#navbar {
    position: fixed;
    padding-bottom: 0px;
    top: 0;
    width: 100%;
    overflow: hidden;
    border: hidden;
    background-color: white;
}

button {
    font-family: "Gill Sans W01 Light", GillSans-Light, "Gill Sans", HelveticaNeueW01-55Roma, "Helvetica Neue", "Helvetica Neue Light", "HelveticaNeue-Light", Helvetica, Arial;
    font-weight: 100;
    font-size: 11px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: transparent;
    border: 1px solid #888;
    color: #888;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    font-weight: 500;
    border-radius: 3px;
}

#downloadBox {
    background-color: transparent;
    display: block;
}

img {
    width: 145px;
    height: auto;
    padding-bottom: 15px;
    padding-top: 10px;
}

.helpInfo {
    display: block;
    padding: 7px 30px 30px 30px;
    float: right;
    margin-top: 0px;
    position: relative;
    color: #444;
}


.logo {
    height: 50px;
    width: auto;
    display: block;
    margin: 0 auto;
    padding-top: inherit;
    padding-left: 250px;
    overflow: hidden;
}

h2 {
    text-align: center;
    padding-top: 70px;
    font-family: "SlateStd-Medium", "HelveticaNeueW01-55Roma", "Helvetica Neue", HelveticaNeue, "HelveticaNeue-Light", Helvetica, Arial;
}

p {
    text-align: center;
}

a {
    cursor: pointer
}




#downloadButton {
    width: 88px;
    margin: 0 auto;
    color: #888;
    
}


.copyrightNotice {
    font-family: "SlateStd-Medium", "HelveticaNeueW01-55Roma", "Helvetica Neue", HelveticaNeue, "HelveticaNeue-Light", Helvetica, Arial;
    font-size: 11px;
    color: #444;
    text-align: center;
    padding-top: 90px;
}

.hover
{
    background-color:#a47f2d;
    color: white; 
}  